:root{
  --red:#FF1a08;
  --blue:#0e20FF;
  --tile:50px;
  background:black;
  color:white;
}
/* Map: z index 1
Entity: z index 2
Character: z index 3
Player: z index 5
*/
main{
  width:800px;height:800px;position:fixed;display:flex;top:5px;left:5px;
  border:2px solid white;background-color:black;flex-flow:row wrap;}
.rightPane{
  float:right;background:white;width:200px;height:100%;color:black;
  text-align:center;
}
.tile{
  height:var(--tile);width:var(--tile);display:block;position:absolute;
}
.p{
  background-color:white;
}
.p::after{
  content:'';position:absolute;top:0px;bottom:0px;left:0px;right:0px;background:#0000;border:4px solid var(--blue);
}
.enemy{
  background-color:var(--red);border:3px solid gray;z-index:3;
}
/*#debug{
  position:absolute;top:20px;left:20px;right:20px;background:white;color:blue;
  box-sizing:border-box;padding:20px;min-height:100px;display:flex;flex-flow:row wrap;
  z-index:1000;
}
*/
.mapTile{
  display:block;position:relative;width:var(--tile);height:var(--tile);z-index:1;box-sizing:border-box;
}
.tile0{
  background:url(assets/textures/grass_carried.png) no-repeat;
  background-size:cover;
}
.tile1{
  background:url(assets/textures/netherite_block.png) no-repeat;
  background-size:cover;
}
.tile2{
  background:url(assets/textures/polished_blackstone.png) no-repeat;
  background-size:cover;
}